<html>
    <head>
        <title>Major Project</title>
        <link rel="stylesheet" type="text/css" href="/static/loader.css">
        <script>
          (function(){
          window.setTimeout(function(){window.location.href = "/swarmi/?prediction={{prediction}}"}, 7000)
          })();          
        </script>
    </head>
    <body>
        <div class="margins">
            <p class="colorwhite">Comparing the results with :</p>
            <p class="coloryellow">1. Grey Wolf Optimizer</p>
            <p class="coloryellow">2. Cuckoo Search</p>
        </div>
        <div style="height:3em;"></div>
        <div class="loader">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>
    </body>
</html>