<html>
    <head>
        <title>Major Project</title>
        <link rel="stylesheet" type="text/css" href="/static/lastpage.css">
    </head>
    <body style="background-color:black;">
        <div class="margins">
            <p class="colorwhite">Ranking the accuracy of applied algorithms</p>
            <p class="coloryellow">1.&nbsp; Grey Wolf Optimizer</p>
            <p class="coloryellow">2.&nbsp; Cuckoo Search</p>
            <p class="coloryellow">3.&nbsp; Support Vector Machine</p>
            <p class="coloryellow">4.&nbsp; Decision Tree Classifier</p>
            <p class="coloryellow">5.&nbsp; K nearest neighbour distance</p>
            <p class="coloryellow">6.&nbsp; K nearest neighbour uniform</p>
        </div>
        <div style="height:3em;"></div>
    </body>
</html>